/.DS_Store
/.Rhistory
/main-stats.R
/rang-limite-tour-1.png
/simulation-tour-1.csv
/simulation-tour-2.csv
/simulation-tour-3.csv
/simulation-tour-4.csv
/simulation-tour-5.csv
/simulation-tour-6.csv
/simulation-tour-blanc-1.csv